.reports-container {
    margin-top: 150px;
}

.reports-container table {
    border-spacing: 0;
}

.reports-container td {
    border: solid 1px gray;
    padding: 10px;
    text-align: center;
}

.reports-container a {
    border: solid 1px gray;
    padding: 5px;
    background-color: aquamarine;
}